node_modules
target/
.classpath
.project
.settings/
.idea
rivigo-zoom-backend-parent.iml
rivigo-zoom-backend-parent.iws
rivigo-zoom-backend-parent.ipr
rivigo-zoom/bin
rivigo-zoom/tmp/

.scannerwork

rivigo-zoom/src/test/resources/test/neo4j-data
*.iml
*.DS_Store
sonar-project.properties~
tmp
.git-hooks/
.gradle/
ajcore*
rivigo-zoom/deposit_slip_original.png
.vscode
